
<!-- header starts-->
<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Weather | RssFeed-FEDO</title>
  <link rel="shortcut icon" href="images/favicon.ico"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
 <!-- header ends-->
 <body style="background-color: #eef">
 <div style="background-color: #252574">
 <br/>
 <div class="row">
 <div class="col s3">
 &nbsp;
 </div>
 <div class="col s6">
 <center>
 <h1 class="white-text">
 FEDO ASSIGNMENT
 </h1>
 </center>
 </div>
 <div class="col s3">
<br/><br/><br/>
 <a  href="/logout"><button>Logout!</button></a>
 </div>
</div>
<br/>
 </div>
 
 <div class="row">
 <div class="col s1">
&nbsp;
 </div>

   <div class="col s6">
     <% if (usernam.length > 0) { %>
                <h4 style="color:#080">Welcome <%= usernam %></h4>
            <% } %>
			<br/><br/>
   <div class="input-field col s8">
          <input id="selectBox" type="text"  class="validate" required="true">
          <label for="selectBox">Enter place and press enter</label>
        </div>
		<br/><br/><br/>
 <div id="weather"></div>
  </div>
   <div class="col s1">
&nbsp;
 </div>
 <div class="col s4">
   <script type="text/javascript" src="http://output60.rssinclude.com/output?type=js&amp;id=1069767&amp;hash=cbbd55b67ebf707454a89d3bbeef818a"></script>

 </div>
  </div>
  <!-- footer starts-->
  <script type="text/javascript" src="js/jquery.min.js"></script>
 <script src="js/material.min.js"></script> 
 <script type="text/javascript" src="js/materialize.js"></script>
 <script src="js/materialize.min.js"></script> 
 <script>
$('#selectBox').change(function(){
 
    var text = $(this).val();
  $.getJSON('http://api.openweathermap.org/data/2.5/weather', {
    q     : text,
    appid : 'd85656693c7f3580cc54c95e2f3d2989'
  }, function(data, textStatus, jqXHR) {
    var city    = data.name;
    var country = data.sys.country;
	var symbol = data.weather.description;
	var temp =data.main.temp - 273.15;
	var pressure = data.main.pressure;
	var humidity = data.main.humidity;
	var wind = data.wind.speed;
    var weather = data.weather[0].description;
    
    // Prints: "Current weather for Castlebar, IE: light rain"
    $('#weather').html('<center> <br><h4>Weather results</h4> <br><hr><br><h4>Current weather for ' + city + ', ' + country + '</h4>'+' <h4>Weather : ' + weather +'</h4><h4> Temperature : '+ temp +'&#8451;'+ '</h4><h4> Pressure : '+ pressure +'hpa'+ '</h4><h4> Humidity :' + humidity +'%'+'</h4><h4> Wind :'+ wind+'m/s' +'</h4></center>');
  });
});
</script>
<hr/>

    <center>
	<img src="images/logo.png" width="8%"><br>
   &#169; 2016 | All Rights Reserved | FEDO | Privacy Policy.
   
    </center>
	
	<!--footer ends-->
</body>
</html>

